@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #f6f6f6;
  width: 1200px;
  margin: 10px 20px;
}

.header {
  margin: 20px 0;
}

.header__navbar li {
  list-style: none;
  display: inline;
  width: 1240px;
  height: 100px;
  margin-top: 80px;
  font-family: Roboto;
  font-size: 16px;
  text-align: left;
  left: 66px;
  margin-left: 30px;
  font-weight: 400;
}

.header__navbar--logo {
  color: #de1738;
  margin-right: 190px;
  padding-left: 65px;
}

.header__navbar--logo img {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 60px;
  top: -5px;
}
.header__poster {
  margin-bottom: 2px;
  width: 1040px;
  height: 456px;
}

.header__poster--picture img {
  float: left;
  height: 456px;
  width: 1200px;
  display: block;
  position: relative;
  z-index: -1;
}
.header__poster--info {
  color: #fff;
  background-color: #de1738;
  padding-left: 5px;
  width: 350px;
  height: 457px;
  position: absolute;
  float: right;
  top: 37px;
  right: 0px;
  padding-left: 27px;
}
.header__poster--info h3 {
  margin-bottom: 2px;
}

.header__poster--info h2 {
  font-size: 35px;
  font-family: "Open Sans", sans-serif;
  margin: 5px 0px;
  line-height: 54.47px;
  letter-spacing: 1.5px;
  font-weight: 700;
  margin-top: 1px;
}
.header__poster--info p,
.header__poster--info h3 {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin: 5px 0px 30px 0px;
}
.header__poster--info button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #4a4a4a;
  padding: 12px 10px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  background-color: #ffffff;
}

.filterrecipe {
  margin: 2px;
  padding: 50px;
}
.filterrecipe__type {
  display: flex;
  color: #fff;
  background-color: #de1738;
  /* padding: 20px; */
  margin-bottom: 0px;
  overflow: hidden;
  padding: 0px;
}
.filterrecipe__type--one,
.filterrecipe__type--two,
.filterrecipe__type--three,
.filterrecipe__type--four {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}
.filterrecipe__type--three,
.filterrecipe__type--four {
  padding-top: 34px;
}
.filterrecipe__type span {
  padding: 5px;
}

input [type="checkbox"] {
  cursor: pointer;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;

  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#label {
  font-size: 20px;
  padding-left: 2px;
}
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.filterrecipe__sort {
  display: flex;
  flex-direction: row;
  margin-top: 55px;
}

.accordian {
  border: none;
  color: #fff;
  background-color: #de1738;
  cursor: pointer;
  background-color: #de1738;
  color: #fff;
  font: Roboto;
  weight: 700;
  font-size: 18px;
  border: none;
  position: absolute;
}
.accordianafter:hover {
  transform: scale(1.05);
}
.accordianafter {
  position: relative;
  right: -50px;
  top: -4px;
  /* transform: scale(1.05); */
  font-size: 20px;
  padding-right: 2px;
}
.filterrecipe__sort--one {
  background-color: #de1738;
  width: 300px;
  color: #fff;
  height: 50px;
  font: Roboto;
  weight: 700;
  padding: 20px;
  font-size: 18px;
  border: none;
}
.filterrecipe__sort--one span {
  float: right;
}
.filterrecipe__sort--two select {
  width: 100px;
  height: 21px;
}
.filterrecipe__sort--two {
  width: 290px;
  height: 50px;
  padding-left: 43px;
  font: Roboto;
  weight: 400;
  font-size: 18px;
}


.filterrecipe__sort--three {
  padding-left: 500px;
  font-weight: bold;
  font-size: 18px;
  color: #4a4a4a;
  border: none;
}
.filterrecipe__sort--three i {
  left: -4px;
}
.itemlist__one,
.itemlist__two,
.itemlist__three,
.itemlist__four,
.itemlist__five,
.itemlist__six,
.itemlist__seven,
.itemlist__eight,
.itemlist__nine,
.itemlist__ten,
.itemlist__eleven,
.itemlist__twelve {
  background: #fff;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px 2px;
}
input {
  color: #000;
  background-color: #fff;
}

.vertical {
  left: 23.35%;
  right: 76.65%;
  top: 9.78%;
  bottom: 80.33%;
  border: 1px solid #ffffff;
}
.itemlist div:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px #000;
}

.itemlist {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  margin: 10px 80px;
  margin-bottom: 5px;
  width: 1040px;
}

.itemlist img {
  width: 240px;
  height: 210px;
}
#info span {
  padding-left: 40px;
}
#tored {
  color: #de1738;
  font-weight: 600;
  padding-left: 93px;
  margin-top: 5px;
}

#info li {
  font-weight: 500;
  font-size: 12px;
  width: 240px;
  margin-left: 0px;
  display: inline;
  padding: 10px 20px;
  list-style: none;
}

#head {
  text-align: left;
  color: #4a4a4a;
  font-family: Roboto;
  font-weight: 300;
  padding: 20px 4px;
  font-size: 25px;
}
.signup {
  color: #fff;
  background-color: #e9474b;
  width: 1040px;
  margin: auto;
  height: auto;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: auto;
  min-height: 450px;
}

.signup p,
.signup h1 {
  margin-left: 20px;
  width: 400px;
  padding: 10px;
}

.signup__form ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.signup__form--one,
.signup__form {
  margin: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  height: auto;
}

.signup__form {
  border-bottom: 1px solid #fff;
}
.signup__form--one p,
.signup__form p {
  width: 200px;
}
.signup__form--one input,
.signup__form input {
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 70px;

}

.addbutton {
  left: 30px;
  margin-top: 47px;
  padding: 10px 45px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #e9474b;
  border: 1px solid #fff;
}

.addbutton:hover {
  background-color: #fff;
  color: #000;
}

.buttonsend {
  border-radius: 5px;
  margin: -80px 480px;
  padding: 10px 35px;
  background-color: #fff;
  cursor: pointer;
  margin-left: 52px;
  align-content: center;
  float: right;
}

.footer {
  margin: 5px 0;
  height: auto;
  padding: 30px 100px;
  display: grid;
  left: 0;
  grid-template-columns: 200px 200px 200px 200px 200px;
  margin: 5px;
}

.footer span {
  padding-left: -2px;
}

.footer-red {
  color: #de1738;
}
.footer h4 {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  padding-bottom: 20px;
  width: 300px;
}
.footer p {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  text-align: left;
  padding: 5px 3px;
}
.footer div {
  padding: 10px 9px;
  margin: 0 15px;
  margin-left: 5px;
}

@media only screen and (max-width: 320px) {
  .header__poster--info {
    width: auto;
    padding-left: 20px;
    height: auto;
  }
  .header__poster--picture {
    height: auto;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    width: auto;
  }

  .header__navbar li {
    list-style: none;
    display: block;
    height: 10px;
    margin-top: 80px;
    font-family: Roboto;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    padding: 1px;
  }
  .header__poster {
    padding-top: 40px;
  }

  .header__poster--picture {
    height: 200px;
    width: auto;
    margin-bottom: 200px;
    top: 10px;
    position: relative;
    z-index: -1;
  }
  .header__poster--info {
    position: absolute;
    right: -700px;
    top: 1px;
    width: 500px;
    bottom: 0;
  }

  .header__navbar--logo {
    margin-right: 15px;
    bottom: -14%;
  }
  .accordianafter:hover {
    transform: scale(1.05);
  }
  .filterrecipe__type {
    margin-bottom: 0px;
    display: flex;
    overflow: hidden;
    padding: 0px;
  }
  .filterrecipe__sort,
  .filterrecipe__type {
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
  }
  .filterrecipe__sort {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .filterrecipe__sort--one {
    padding: auto 2px;
    margin-bottom: 0;
    padding-right: 0;
  }
  .filterrecipe__sort--two {
    margin-left: 450px;
  }
  .filterrecipe__sort--three {
    margin-right: 450px;
  }
  .itemlist {
    display: flex;
    flex-direction: column;
    float: center;
  }
  .buttonsend {
    margin-left: 5px;
  }
  .signup__form ul {

  .signup input {
    padding: 20px 10px;
  }
  .signup {
    height: auto;
    padding: 0 20px;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer div {
    /* padding: 30px 15px; */
    border-bottom: 1px solid #696969;
    height: auto;
    width: 450px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 640px) {
  .header__poster {
    display: flex;
    flex-direction: row;
  }

  .header__poster--info {
    width: auto;
  }

  .filterrecipe__type {
    margin-bottom: 0px;
    display: flex;
    overflow: hidden;
  }

  .itemlist {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer div {
    padding: 30px 15px;
    border-bottom: 1px solid #696969;
  }
}
